

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

body {
    font-family:"Poppins", sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    color: #191414;
    /* background-color:#191414;
    color:#efefef; */
    
}

main {
    padding: 20px 13%;
}

.menuBar {
    display: none;
    cursor: pointer;
    font-size: 145%;
}

* {
    transition: all 300ms ease-out;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
   }

nav {
    display: flex;
   
    align-items: center;
    justify-content: space-between;
    width: 100%;
     padding: 1% 6% 1% 6%; 
}

.navLink:hover,.navLink:active,.n:hover,.n:active,.titleLink:hover {
    text-decoration: none;
    color: #128f46;
}

.navLink,.n {
    transition: all 200ms ease-out;
   
}

.navLinkDiv {
    display: flex;
    align-items: center;
    gap: 25px;
}

a {
    text-decoration: none;
    color: #191414;
}
    
small a {
        text-decoration: underline;
        color: #222222;
      }

.dropDown {
    margin-left: 6%;
    height: 0%;
    overflow: hidden;
}

a:hover,a:active {
    text-decoration: underline;
}

::placeholder {
        font-weight: 600;
        color: rgb(50, 50, 50);
    }

   .title {
    font-size: 150%;
    cursor: pointer;
    color:#128f46;
    font-family: cursive;
   }

   .titleLink {
    color: #128f46;
   
   }

    .formbody{
 justify-content: center;
 margin-bottom: 0px;
width: 100%;
border-radius: 20px;
    }



    .loginBtn {
        background-color: #128f46;
        color: white;
        width: 160px;
        font-weight: 700;
        text-align: center;
        padding: 22px 20px;
        /* border-radius: 30px; */
        border-radius: 10px;
        cursor: pointer;
        margin-top: 40px;
        font-family: "Poppins", sans-serif;
}

.loginBtn:hover,.loginBtn:active {
      background-color: rgb(4, 95, 40);
    }

     

.labels {
        margin-bottom:20px;
        margin-top: 40px;
      
}



a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
    color: #191414;
  }
  
.transition-fade {
    opacity: 1;
     transition:500ms;
 }
 
 html.is-animating .transition-fade{
   opacity: 0;
 }

.welcomeMessage {
        font-weight: 500;
        font-size: 280%;
        margin-bottom: 30px;
    }

    .welcomeFlex {
        display: flex;
        align-items: center;
        gap: 10px;
        
    }


    .error {
        font-size: 0.8em;
        margin-top: 5px;
        color: red;
    }
.input input:focus {
     box-shadow: 0px 1px 12px -5px #128f46; 
  
}
   input{
       
        transition: all 200ms linear;
        width: 100%;
       padding:24px 25px;
       font-weight: 600;
       font-family: "Poppins", sans-serif;
       color: #000000;
       letter-spacing: 1px;
        outline:none;
        background-color: #efefef;
        border: none;
     
        border-radius: 10px;
    }

button{
      
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }

    footer {
        background-color: #128f46;
        text-align: center;
        padding: 20px 20px;
        color: #ffffff;
    }

    @media (max-width:850px) {
.menuBar {
    display: initial;
    cursor: pointer;
    
}

.loginBtn {
    width: 100%;
    transition: all 200ms ease-out;
}

/* .navLinkDiv:hover .navLink {
    font-size: initial;
} */
        .navLinkDiv {
            gap: 20px;
        }

        .navLink {
           display:none;
        }
     

       .welcomeMessage {
        font-size: 200%;
        margin-bottom: 20px;
       }

       main {
        padding: 40px 10%;
       }

      
    }
